<!DOCTYPE html>
<html>

<head>
  <title>Pattern Checker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <v-app :style="{
      'background-color': '#222',
      'background-image':showBackground ? `url(${background})` : null,
      'background-size':repeat ? showBackground ? `${size.value}px` : null : 'cover',
      'background-repeat':repeat ? 'repeat' : 'cover',
    }">
      <v-dialog v-model="bools.isDialogOpen" persistent>
        <v-card>
          <v-card-title class="primary white--text">
            Confirm Remove
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-text-field v-bind="attrs" label="Type `DELETE` to confirm" v-model="del.confString"></v-text-field>
            </v-container>
          </v-card-text>
          <v-card-actions class="text-right">
            <v-row align="end">
              <v-col>
                <v-btn color="error" text @click="cancelRemove">
                  Cancel
                </v-btn>
                <v-btn :disabled="!willDelete" color="primary" @click="removeImage">
                  OK
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-row class="my-0">
        <v-col cols="2">
          <v-container fluid>
            <v-card color="black pa-4">
              <v-text-field dark label="URL" v-bind="attrs" v-model="imageUrl" persistent-hint
                hint="Paste image URL here" @click="selectMe($event.target)"></v-text-field>
              <v-slider v-if="repeat" step="50" dark v-model="size.value" :min="size.min" :max="size.max"
                :label="`${size.value}px`"></v-slider>

              <v-row>
                <v-col v-if="repeat">
                  <v-btn block @click="size.value=size.default" small>
                    Reset Size
                  </v-btn>
                </v-col>
                <v-col v-if="history.length > 0">
                  <v-btn block color="error" small @click="clearHistory">
                    Clear History
                  </v-btn>
                </v-col>
              </v-row>

              <v-row no-gutters>
                <v-col class="mr-1">
                  <v-switch dense v-model="showBackground" dark label="Fullscreen"></v-switch>
                </v-col>
                <v-col class="ml-1">
                  <v-switch dense v-model="repeat" dark label="Repeat"></v-switch>
                </v-col>
              </v-row>
            </v-card>
            <v-card class="mt-2 d-flex flex-wrap justify-start transparent elevation-0"
              style="overflow:auto;max-height:50vh;">
              <div @click="setBackground(url)" @dblclick="removeBackground(url)" :style="{
                width:'80px',
                height:'80px',
                cursor:'pointer',
                'background-image':`url(${url})`,
                'background-size':'80%',
                'background-repeat':'repeat',
              }" v-for="(url,index) in imageHistory" :key="index"></div>
            </v-card>
          </v-container>
        </v-col>
        <v-col cols="auto">
          <div v-if="!showBackground" :style="{
            'background-image':`url(${background})`,
            'height':'95vh',
            'aspect-ratio':'2 / 3',
            'background-size':repeat ? `${size.value}px` : 'cover',
            'background-repeat':repeat ? 'repeat' : 'no-repeat',
          }"></div>
        </v-col>
        <v-col>
          <div class="mr-4" v-if="!showBackground" :style="{
            'background-image':`url(${background})`,
            'aspect-ratio':'3 / 2',
            'background-size':repeat ? `${size.value}px` : 'cover',
            'background-repeat':repeat ? 'repeat' : 'no-repeat',
          }"></div>
        </v-col>
      </v-row>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.js"></script>
  <script>
    const LS_PATTERN_NAME = 'pattern-history'
    const DELETE_STRING = 'DELETE'
    const router = new VueRouter({
      mode: 'history',
      routes: []
    });
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      router,
      watch: {
        imageUrl(url) {
          if (!this.history?.find(i => i === url)) {
            this.history.unshift(url)
            this.setHistory()
          }
        }
      },
      data: {
        imageUrl: '',
        del: {
          confString: '',
          url: '',
          all: false
        },
        history: [],
        size: {
          default: 600,
          value: 600,
          min: 50,
          max: 2000
        },
        showBackground: true,
        repeat: true,
        attrs: {
          outlined: true,
          dense: true,
        },
        bools: {
          isDialogOpen: false
        }
      },
      computed: {
        willDelete() {
          return DELETE_STRING === this.del.confString
        },
        imageHistory() {
          return this.history?.filter(i => /\.png|\.jpg|\.jpeg/gi.test(i))
        },
        background() {
          return this.imageUrl?.split('?')?.[0]
        }
      },
      methods: {
        selectMe($element) {
          $element.select()
        },
        setHistory() {
          localStorage.setItem(LS_PATTERN_NAME, JSON.stringify(this.history))
        },
        removeImage() {
          if (!this.willDelete) {
            return
          }
          if (this.del.all) {
            this.history = []
          } else {
            this.history = this.history.filter(i => i !== this.del.url)
          }
          this.setHistory()
          this.del.all = false
          this.bools.isDialogOpen = false
        },
        cancelRemove() {
          this.del.all = false
          this.del.confString = ''
          this.bools.isDialogOpen = false
        },
        clearHistory() {
          this.del.all = true
          this.bools.isDialogOpen = true
        },
        removeBackground(url) {
          this.del.url = url
          this.bools.isDialogOpen = true
        },
        setBackground(url) {
          this.imageUrl = url
        }
      },
      created() {
        if (!localStorage[LS_PATTERN_NAME]) {
          localStorage.setItem(LS_PATTERN_NAME, JSON.stringify([]))
        }
        this.history = JSON.parse(localStorage.getItem(LS_PATTERN_NAME))
      }
    })
  </script>
</body>

</html>